PORT=3000
VAULT_FILE=./vault.json
SUPPORT_TICKETS_FILE=./support-tickets.json
ADMIN_USERNAME=admin
ADMIN_PASSWORD=change-me
ADMIN_SESSION_TTL_MS=28800000
GITHUB_TOKEN=
GITHUB_REPOSITORY=
GITHUB_BRANCH=master
GITHUB_VAULTS_PATH=vaults
GITHUB_SUPPORT_TICKETS_PATH=support-tickets.json